<h2>Requests</h2>
<div *ngIf = "userInfoService.moderator === userInfoService.getUsertype(); else nonModeratorBlock;">
 <ul class="requests">
  <li *ngFor="let request of requests" [class.selected]="request === selectedRequest" (click)="onSelect(request)">
    hashcode: {{request.hash}}, article name: {{request.documentName}}, proposer: {{request.proposerName}}, author: {{request.authorName}}
	   <button class="accept" title="accept request" (click)="accept(request)">Accept</button>
     <button class="deny" title="delete request" (click)="deny(request)">Deny</button>
  </li>
 </ul>
</div>
<ng-template #nonModeratorBlock>You must be logged in as a Moderator to see this page</ng-template>
<app-request-detail [request]="selectedRequest"></app-request-detail>
